
<section class="three-product" id="furniture">
  <div class="container">
    <div class="products-list">

    </div>

    <div class="pagination-container">
      <div class="pagination">
        <button class="btn-prev hiden"></button>
        <span class="page-number">1</span>
        <span class="page-number">2</span>
        <span class="page-number">3</span>
        <button class="btn-next"></button>
      </div>
    </div>
    <button class="btn-loadMore hiden">Показати ще</button>
    <!-- Писати свій код в цьому контейнері -->
    <span class="loader visuallyhidden"></span>
  </div>
</section>

        <!-- Писати свій код в цьому контейнері -->
        <span class="loader visuallyhidden"></span>
    </div>
</section>
