<section class="3-product three-product" id="furniture">
  <div class="container product-container">
    <h2 class="product-title">Наші меблі</h2>
    <p class="product-descr">Знайдіть ідеальні рішення для вашого інтер'єру</p>
    <ul class="product-categories-list"></ul>

    <div class="products-list"></div>
    <div class="container-list">
      <span class="loader "></span>
    </div>

    <div class="pagination-container">
      <div class="pagination"></div>
    </div>
    <button class="btn-loadMore visuallyhidden">Показати ще</button>

  </div>
</section>