
<section class="three-product" id="furniture">
  <div class="container">
    <div class="products-list">

    </div>

    <div class="pagination-container">
      <div class="pagination">
        <button class="btn-prev scroll">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="icon">
            <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" />
          </svg>
        </button>
        <button class="page-number focus">1</button>
        <button class="page-number">2</button>
        <button class="page-number">3</button>
        <spanc class="dtp">...</spanc>
        <button class="page-number last">76</button>
        <button class="btn-next scroll"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
            width="24px" class="icon">
            <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
          </svg></button>
      </div>
    </div>
    <button class="btn-loadMore hiden">Показати ще</button>
    <!-- Писати свій код в цьому контейнері -->
    <span class="loader visuallyhidden"></span>
  </div>
</section>

        <!-- Писати свій код в цьому контейнері -->
        <span class="loader visuallyhidden"></span>
    </div>
</section>
