<section class="about-us" id="about">
    <div class="container about-main-wrap">
        <div class="about-wrap">
            <h2 class="about-us-title">Про Меблерію</h2>
            <p class="about-us-text">У Меблерії ми прагнемо створювати затишок та функціональність у кожному домі. Наша
                місія - пропонувати високоякісні
                меблі, що поєднують у собі сучасний дизайн, довговічність та доступність. Ми віримо, що ідеальний
                інтер'єр починається з
                правильних меблів.</p>
        </div>

        <picture class="about-img-wrap">
            <source srcset="/img/about-us/about-mob-min.webp 1x, /img/about-us/about-mob@2x-min.webp 2x"
                media="(max-width:767px)" />
            <source srcset="/img/about-us/about-tab-min.webp 1x, /img/about-us/about-tab@2x-min.webp 2x"
                media="(min-width:768px)" />
            <source srcset="/img/about-us/about-desk-min.webp 1x, /img/about-us/about-desk@2x-min.webp 2x"
                media="(min-width:1440px)" />
            <img srcset="/img/about-us/about-desk-min.webp 1x, /img/about-us/about-desk@2x-min.webp 2x"
                src="/img/about-us/about-desk-min.webp" alt="Group of smiling people" class="img-about" />
        </picture>

    </div>
</section>