<section class="reviews" id="reviews">
    <div class="container">

        <!-- Писати свій код в цьому контейнері -->
        <h2 class="reviews-heading">Відгуки клієнтів</h2>
        <p class="revies-section-text">Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.</p>
        
    <div class="swiper">
        <div class="swiper-wrapper">
            <!-- Слайди тут -->
        </div>
    
        <!-- Пагінація -->
        <div class="swiper-pagination"></div>
    
        <!-- Кнопки навігації -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    </div>
</section>
