<section class="reviews" id="reviews">
    <div class="container">
        <h2 class="reviews-heading">Відгуки клієнтів</h2>
        <p class="revies-section-text">Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.</p>

        <div class="swiper">
            <div class="swiper-wrapper">
                <!-- Слайди тут -->
            </div>
        </div>

        <!-- Контролы снизу как в popular-products -->
        <div class="reviews-controls">
            <!-- Пагинация слева -->
            <div class="swiper-pagination"></div>

            <!-- Навигация справа -->
            <ul class="reviews-navigation">
                <li class="swiper-button-prev">
                    <svg class="swiper-button-icon" width="24" height="24">
                        <use href="./img/sprite.svg#left-arrow-alt" />
                    </svg>
                </li>
                <li class="swiper-button-next">
                    <svg class="swiper-button-icon" width="24" height="24">
                        <use href="./img/sprite.svg#right-arrow-alt" />
                    </svg>
                </li>
            </ul>
        </div>
    </div>
</section>