<section class="footer" id="footer">
    <div class="container">

        <!-- Писати свій код в цьому контейнері -->
        <div class="screen-footer">
        <div class="logo-footer">
            <a class="logo-footer-link" href="./index.html">
            <svg class="logo-footer-icon" width="228.5" height="97.93">
                <use class="logo-footer-icon-style" href="/img/sprite.svg#company-logo-footer"></use></svg></a>
    </div>
        <ul class="nav-footer">
            <li><a href="#furniture">Наші меблі</a></li>
            <li><a href="#about">Про нас</a></li>
            <li><a href="#faq">Часті питання</a></li>
            <li><a href="#reviews">Відгуки</a></li>
        </ul>
        <ul class="social-list">
            <li>
                <a class="social-icon-link" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/">
                    <svg class="social-icon" width="24" height="24">
                        <use href="./img/sprite.svg#youtube"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="social-icon-link" target="_blank" rel="noopener noreferrer"  href="https://www.instagram.com/">
                    <svg class="social-icon" width="24" height="24">
                        <use href="./img/sprite.svg#instagram"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="social-icon-link" target="_blank" rel="noopener noreferrer"  href="https://www.youtube.com/">
                <svg class="social-icon" width="24" height="24">
                    <use href="./img/sprite.svg#facebook"></use>
                </svg>
            </a>
        </li>
        </ul>
        <p class="copyright">&copy; 2025 Relume. Всі права захищені</p>
        </div>

    </div>
</section>