<div class="modal visuallyhidden modalBlur">
  <div class="container">
    <!-- Писати свій код в цьому контейнері -->

    <!-- <div class="modalWindow">
      <div>
        <img src="" alt="" />
        <div>
          <img src="" alt="" />
          <img src="" alt="" />
        </div>
      </div>
      <div></div>
    </div> -->
  </div>
</div>

<!-- div
<div class="modal-right">
  <h2 class="modal-title"></h2>
  <p class="modal-description"></p>
  <h3 class="modal-price"></h3>
  <div class="stars"></div> -->
<!-- checkbox .furnitureColors -->
<!-- <p class="furnitureDescription"></p>
  <p class="furnitureSize"></p>
  <button></button>
</div> -->
<div class="color-options">
  <p class="color-label">Колір</p>
  <div class="checkbox-group">
    <div
      class="checkbox-wrapper"
      style="background-color:${furniture.color[0]};"
    >
      <input
        type="checkbox"
        id="color1"
        name="furniture-color"
        value="furniture.color[0]"
      />
      <label for="color1">Колір 1</label>
    </div>
    <div class="checkbox-wrapper">
      <input
        type="checkbox"
        id="color2"
        name="furniture-color"
        value="color2"
      />
      <label for="color2">Колір 2</label>
    </div>
    <div class="checkbox-wrapper">
      <input
        type="checkbox"
        id="color3"
        name="furniture-color"
        value="color3"
      />
      <label for="color3">Колір 3</label>
    </div>
  </div>
</div>
