<div class="backdrop visuallyhidden" id="order-backdrop">
  <div class="container">
    <div class="modal order-modal">
      <button type="button" class="close-btn" data-modal-close>
        <svg class="close-icon" width="14" height="14">
          <!-- <use href="./images/icons.svg#icon-close"></use> -->
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>

      <h2 class="modal-title">
        Замовити зворотний <br />
        зв’язок
      </h2>

      <form class="order-form">
        <label class="form-field">
          <span class="label-text">E-mail*</span>
          <input
            type="email"
            name="email"
            placeholder="example@example.com"
            class="form-input"
            required
          />
        </label>

        <label class="form-field">
          <span class="label-text">Телефон*</span>
          <input
            type="tel"
            name="phone"
            placeholder="+38 (099) 123 22 11"
            class="form-input"
            required
          />
        </label>

        <label class="form-field comment-field">
          <span class="label-text">Коментар</span>
          <textarea
            name="comment"
            placeholder="Type your message..."
            class="form-input comment-input"
            required
          ></textarea>
        </label>

        <button type="submit" class="submit-btn">Надіслати заявку</button>
      </form>
    </div>
  </div>
</div>
