<div class="order visuallyhidden">
    <div class="container">

        <div class="modal order-modal">
            <button type="button" class="close-btn" data-modal-close>
                <svg class="close-icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>

            <h2 class="modal-title">Замовити зворотний зв’язок</h2>

            <form class="order-form">
                <label class="form-field">
                    <span class="label-text">E-mail</span>
                    <input type="email" name="email" class="form-input" required />
                </label>

                <label class="form-field">
                    <span class="label-text">Телефон</span>
                    <input type="tel" name="phone" class="form-input" required />
                </label>

                <label class="form-field comment-field">
                    <span class="label-text">Коментар</span>
                    <textarea name="comment" class="form-input comment-input"></textarea>
                </label>

                <button type="submit" class="submit-btn">Надіслати заявку</button>
            </form>
        </div>

    </div>
</div>