* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===============  Category styles ================= */

.three-product {
  padding-top: 48px;
  padding-bottom: 48px;
}

.product-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #080c09;
  margin-bottom: 16px;
}

.product-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #080c09;
  margin-bottom: 40px;
}

.product-categories-list {
  flex-wrap: wrap;
  display: flex;
  gap: 16px;
  margin-bottom: 40px;
}

.product-categories-item {
  position: relative;
  z-index: 99;
  width: calc((100% - 16px) / 2);
  height: 122px;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 250ms ease-in-out;
}

.product-categories-item:hover,
.product-categories-item:focus {
  cursor: pointer;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.product-categories-img {
  z-index: 9;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active-category {
  border: 8px solid #6b0609;
  background-color: rgba(8, 12, 9, 0.3);
}

.product-categories-content {
  z-index: 55;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 32px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .product-title {
    font-size: 48px;
  }

  .product-descr {
    font-size: 18px;
  }

  .product-categories-list {
    gap: 24px;
  }

  .product-categories-item {
    width: calc((100% - 72px) / 4);
  }

  .product-categories-content {
    padding: 32px 10px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .three-product {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .product-categories-item {
    width: calc((100% - 144px) / 7);
  }

  .product-categories-content {
    padding: 32px 16px;
  }
}

.skeleton-box {
  background: linear-gradient(90deg, #eee 25%, #ddd 37%, #eee 63%);
  background-size: 400% 100%;
  animation: skeleton-loading 1.4s ease infinite;
  border-radius: 8px;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}

.skeleton .btn-go-modal {
  display: none;
}

/* =============================================== */

.product-item {
  width: calc(100% / 4 - 18px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-card {
  font-weight: 600;
  font-family: 'Raleway' sans-serif;
  color: rgba(8, 12, 9, 1);
  margin-top: 8px;
  font-style: semi-bold;
  position: relative;
}

.btn-go-modal {
  width: 100%;
  height: 40px;
  background-color: #080c090d;
  color: rgba(8, 12, 9, 1);
  font-weight: 500;
  font-family: 'Raleway';
  border-radius: 100px;
  border: none;
  margin-top: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-go-modal:hover {
  background-color: rgba(107, 6, 9, 0.1);
}

.color-one {
  border-radius: 100%;
  width: 24px;
  height: 24px;
  border: 1px solid lightgray;
}

.colors {
  display: flex;
  gap: 16px;
  margin-top: 8px;
}

.products-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.img-card {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
  transition: filter 200s ease-in-out, border 200ms ease-in-out;
}

.img-card:hover {
  cursor: pointer;
  filter: brightness(0.7);
  border: 8px solid rgba(107, 6, 9, 1);
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  gap: 4px;
}

.page-number {
  width: 56px;
  height: 46px;
  border: none;
  border-radius: 100px;
  font-weight: 500;
  font-family: Raleway, sans-serif;
  background-color: white;
}

.dtp {
  font-weight: 500;
  font-style: medium;
  size: 18px;
}

.focus {
  background-color: rgba(107, 6, 9, 1);
  color: rgba(255, 255, 255, 1);
  transition: opacity 0.3s ease;
}

.page-number:hover {
  opacity: 0.5;
  cursor: pointer;
}

.scroll {
  width: 48px;
  height: 48px;
  border-radius: 100px;
  background-color: rgba(242, 242, 242, 1);
  border: 1px solid rgba(8, 12, 9, 0.15);
  transition: opacity 0.5s ease, fill 0.5s ease, background-color 0.5s ease;
}

.scroll:hover {
  fill: white;
  opacity: 0.7;
  background-color: rgba(151, 80, 82, 1);
}
.scroll:active {
  fill: white;
  opacity: 1;
  background-color: rgba(107, 6, 9, 1);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.loader {
  margin-top: 20px;
  width: 48px;
  height: 48px;
  border: 5px solid #000000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.5s linear infinite;
}

.container-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-loadMore {
  display: none;
  color: rgba(255, 255, 255, 1);
  width: 100%;
  background-color: rgb(128, 8, 12);
  border-radius: 100px;
  padding: 10px 0px;
  border: none;
  font-style: medium;
  font-family: Raleway, sans-serif;
  margin: 0 auto;
}

.hiden {
  display: none;
}

@media only screen and (min-width: 425px) and (max-width: 1439px) {
  .product-item {
    width: calc(100% / 2 - 18px);
    display: flex;
    flex-direction: column;
  }
  .three-product {
    padding: 48px 0px;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .pagination {
    display: none;
  }

  .btn-loadMore {
    display: inline;
    color: rgba(255, 255, 255, 1);
    max-width: 420px;
    background-color: rgb(128, 8, 12);
    border-radius: 100px;
    padding: 10px 0px;
    border: none;
    font-style: medium;
    font-family: Raleway, sans-serif;
    margin: 0 auto;
  }

  .product-container {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 425px) {
  .product-item {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .three-product {
    padding: 48px 0px;
  }

  .pagination {
    display: none;
  }

  .btn-loadMore {
    display: inline;
    color: rgba(255, 255, 255, 1);
    width: 100%;
    background-color: rgb(128, 8, 12);
    border-radius: 100px;
    padding: 10px 0px;
    border: none;
    font-style: medium;
    font-family: Raleway, sans-serif;
    margin: 0 auto;
  }

  .products-list {
    margin-bottom: 0px;
  }
}
